@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap');

:root{
    --orchid: #8b87b6;
    --orange: #f5b489;
    --red: #e48390;
    --green: #b9ca98;
    --yellow: #f3b749;
    --blue: #bddbe2;
    --seaweed: #9ab191;
    --pink: #833f69;
    --lilac: #c9b6d3;
    --sky: #92c1db;

   --info: #f0ecf3;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Mono', monospace;
    display: grid;
    place-content: center;
    position: relative;
}

/*LEGEND*/
.legend{
    position: absolute;
    top: 5rem;
    left: 12rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 15px;
}

.legend > div{
    font-weight: 600;
    font-size: 0.65rem;
    display: flex;
    align-items: center;
}

.alkali-metals,
.alkaline-earth-metals,
.transition-metals,
.lanthanides,
.actinides,
.post-transition-metals,
.metalloids,
.reactive-nonmetals,
.noble-gases,
.unknown-chemical-properties{
    width: 20px;
    height: 20px;
    margin-right: 20px;
    border-radius: 50px;
}

.alkali-metals{
    background-color: var(--green);
}

.alkaline-earth-metals{
    background-color: var(--yellow);
}

.transition-metals{
    background-color: var(--orchid);
}

.lanthanides{
    background-color: var(--red);
    
}
.actinides{
    background-color: var(--pink);
}

.post-transition-metals{
    background-color: var(--blue);
}

.metalloids{
    background-color: var(--seaweed);
}

.reactive-nonmetals{
    background-color: var(--sky);
}

.noble-gases{
    background-color: var(--lilac);
}

.unknown-chemical-properties{
    background-color: var(--orange);
}

/*INFO BOX*/
.info{
    line-height: 2;
    width: 400px;
    height: 500px;
    padding: 4rem 3rem;
    margin: 5rem auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
}

button{
    padding: 10px 15px;
    background-color: #f7ce06;
    border: none;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
}

button:focus{
    outline: none;
}

.info span{
    font-weight: 600;
}

.info.hide{
    display: none;
}

.info.hidebox{
    display: none;
}

/*PERIODIC TABLE*/
.table-content{
    margin-top: 3rem;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 77px);
    grid-template-rows: repeat(auto-fit);
}

.element{
    height: 80px;
    margin: 0.1rem;
    background-color: var(--orchid);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.element h2{
    font-weight: 700;
}

.elName{
    font-size: 0.1rem;
}

.figures{
    font-size: 1.5rem;
}

/*ELEMENTS*/
.extraEl,
.extraElTwo{
    font-size: 0.6rem;
    height: 80px;
    width: 74px;
    margin: 0.1rem;
    background-color: cadetblue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.extraEl{
    grid-column: 3/4;
    grid-row: 6/7; 
}

.extraElTwo{
    grid-column: 3/4;
    grid-row: 7/8; 
}

.table-content div:nth-child(4){
    grid-column: 18/19;
}

.table-content div:nth-child(7),
.table-content div:nth-child(15){
    grid-column: 13/14;
}

.table-content div:nth-child(59),
.table-content div:nth-child(60),
.table-content div:nth-child(61),
.table-content div:nth-child(62),
.table-content div:nth-child(63),
.table-content div:nth-child(64),
.table-content div:nth-child(65),
.table-content div:nth-child(66),
.table-content div:nth-child(67),
.table-content div:nth-child(68),
.table-content div:nth-child(69),
.table-content div:nth-child(70),
.table-content div:nth-child(71),
.table-content div:nth-child(72),
.table-content div:nth-child(73){
    grid-row: 8/9;
}

.table-content div:nth-child(59){
    grid-column: 3/4;
}

.table-content div:nth-child(60){
    grid-column: 4/5;
}

.table-content div:nth-child(61){
    grid-column: 5/6;
}

.table-content div:nth-child(62){
    grid-column: 6/7;
}

.table-content div:nth-child(63){
    grid-column: 7/8;
}

.table-content div:nth-child(64){
    grid-column: 8/9;
}

.table-content div:nth-child(65){
    grid-column: 9/10;
}

.table-content div:nth-child(66){
    grid-column: 10/11;
}

.table-content div:nth-child(67){
    grid-column: 11/12;
}

.table-content div:nth-child(68){
    grid-column: 12/13;
}

.table-content div:nth-child(69){
    grid-column: 13/14;
}

.table-content div:nth-child(70){
    grid-column: 14/15;
}

.table-content div:nth-child(71){
    grid-column: 15/16;
}

.table-content div:nth-child(72){
    grid-column: 16/17;
   
}

.table-content div:nth-child(73){
    grid-column: 17/18;
   
}

/**/
.table-content div:nth-child(91),
.table-content div:nth-child(92),
.table-content div:nth-child(93),
.table-content div:nth-child(94),
.table-content div:nth-child(95),
.table-content div:nth-child(96),
.table-content div:nth-child(97),
.table-content div:nth-child(98),
.table-content div:nth-child(99),
.table-content div:nth-child(100),
.table-content div:nth-child(101),
.table-content div:nth-child(102),
.table-content div:nth-child(103),
.table-content div:nth-child(104),
.table-content div:nth-child(105){
    grid-row: 9/10;
}

.table-content div:nth-child(91){
    grid-column: 3/4;
}

.table-content div:nth-child(92){
    grid-column: 4/5;
}

.table-content div:nth-child(93){
    grid-column: 5/6;
}

.table-content div:nth-child(94){
    grid-column: 6/7;
}

.table-content div:nth-child(95){
    grid-column: 7/8;
}

.table-content div:nth-child(96){
    grid-column: 8/9;
}

.table-content div:nth-child(97){
    grid-column: 9/10;
}

.table-content div:nth-child(98){
    grid-column: 10/11;
}

.table-content div:nth-child(99){
    grid-column: 11/12;
}

.table-content div:nth-child(100){
    grid-column: 12/13;
}

.table-content div:nth-child(101){
    grid-column: 13/14;
}

.table-content div:nth-child(102){
    grid-column: 14/15;
}

.table-content div:nth-child(103){
    grid-column: 15/16;
}

.table-content div:nth-child(104){
    grid-column: 16/17;
}

.table-content div:nth-child(105){
    grid-column: 17/18;
}

/**/
.table-content div:nth-child(3),
.table-content div:nth-child(8),
.table-content div:nth-child(9),
.table-content div:nth-child(10),
.table-content div:nth-child(11),
.table-content div:nth-child(17),
.table-content div:nth-child(18),
.table-content div:nth-child(19),
.table-content div:nth-child(36),
.table-content div:nth-child(37),
.table-content div:nth-child(55){
    background-color: var(--sky);
}

.table-content div:nth-child(5),
.table-content div:nth-child(13),
.table-content div:nth-child(21),
.table-content div:nth-child(39),
.table-content div:nth-child(57),
.table-content div:nth-child(89){
    background: var(--green);
}

.table-content div:nth-child(6),
.table-content div:nth-child(14),
.table-content div:nth-child(22),
.table-content div:nth-child(40),
.table-content div:nth-child(58),
.table-content div:nth-child(90){
    background: var(--yellow);
}

.table-content div:nth-child(4),
.table-content div:nth-child(12),
.table-content div:nth-child(20),
.table-content div:nth-child(38),
.table-content div:nth-child(56),
.table-content div:nth-child(88){
    background: var(--lilac);
}

.table-content div:nth-child(59),
.table-content div:nth-child(60),
.table-content div:nth-child(61),
.table-content div:nth-child(62),
.table-content div:nth-child(63),
.table-content div:nth-child(64),
.table-content div:nth-child(65),
.table-content div:nth-child(66),
.table-content div:nth-child(67),
.table-content div:nth-child(68),
.table-content div:nth-child(69),
.table-content div:nth-child(70),
.table-content div:nth-child(71),
.table-content div:nth-child(72),
.table-content div:nth-child(73){
    background: var(--red);
}

.table-content div:nth-child(91),
.table-content div:nth-child(92),
.table-content div:nth-child(93),
.table-content div:nth-child(94),
.table-content div:nth-child(95),
.table-content div:nth-child(96),
.table-content div:nth-child(97),
.table-content div:nth-child(98),
.table-content div:nth-child(99),
.table-content div:nth-child(100),
.table-content div:nth-child(101),
.table-content div:nth-child(102),
.table-content div:nth-child(103),
.table-content div:nth-child(104),
.table-content div:nth-child(105){
    background: var(--pink);
}

.table-content div:nth-child(111),
.table-content div:nth-child(112),
.table-content div:nth-child(113),
.table-content div:nth-child(115),
.table-content div:nth-child(116),
.table-content div:nth-child(117),
.table-content div:nth-child(118),
.table-content div:nth-child(119),
.table-content div:nth-child(120){
    background-color: var(--orange);
}

.table-content div:nth-child(7),
.table-content div:nth-child(16),
.table-content div:nth-child(34),
.table-content div:nth-child(35),
.table-content div:nth-child(53),
.table-content div:nth-child(54),
.table-content div:nth-child(87){
    background-color: var(--seaweed);
}

.table-content div:nth-child(15),
.table-content div:nth-child(33),
.table-content div:nth-child(32),
.table-content div:nth-child(50),
.table-content div:nth-child(51),
.table-content div:nth-child(52),
.table-content div:nth-child(82),
.table-content div:nth-child(83),
.table-content div:nth-child(84),
.table-content div:nth-child(85),
.table-content div:nth-child(86),
.table-content div:nth-child(114){
    background-color: var(--blue);
}

/**/
.coder{
    margin: 2rem auto;
    text-align: center;
}
